<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RegistrerProduitsPortBinding2" />
                <binding name="RegistrerProduitsPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fampachecoadame:8080/WS_SoapGestionProduits/RegistrerProduits"
                binding="basicHttpBinding" bindingConfiguration="RegistrerProduitsPortBinding2"
                contract="ServiceReference1.RegistrerProduits" name="RegistrerProduitsPort2" />
            <endpoint address="http://li-s055-0t13:8080/WS_SoapGestionProduits/RegistrerProduits"
                binding="basicHttpBinding" bindingConfiguration="RegistrerProduitsPortBinding"
                contract="ServiceReference2.RegistrerProduits" name="RegistrerProduitsPort" />
        </client>
    </system.serviceModel>
</configuration>